{% extends "layout.html" %}
{% block body %}
<h1>Your Saved Passwords</h1>
<table>
    <thead>
        <tr>
            <th>site</th>
            <th>password</th>
            <th>time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            {% for registrant in site %}
            <tr>
                <td> {{registrant.site}} </td>
                <td> {{registrant.password}} </td>
                <td> {{registrant.time}} </td>
                <td>
                    <form action="/deregister" method="post">
                        <input name="site" type="hidden" value="{{registrant.site}}">
                        <input type="submit" value="remove" placeholder="remove">
                    </form>
                </td>
            </tr>
            {% endfor %}
    </tbody>
  </table>

{% endblock %}